<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
	     <img src="bp.png" alt="logo"><br>
		 <h1>Modify Card</h1>
	     <label for="Cname">Cardholder Name</label>
         <input type="text" id="Cname" name="Cname"><br><br>
		 <label for="Cnumber">Card Number</label>
         <input type="password" id="Cnumber" name="Cnumber"><br><br>
		 <label for="Edate">Expiration Date</label>
         <input type="date" id="Edate" name="Edate"><br><br>
		 <label for="CVV">CVV</label>
         <input type="text" id="CVV" name="CVV"><br><br>
		 <label for="Cnick">Card Nickname</label>
         <input type="text" id="Cnick" name="Cnick"><br><br>
		 <input type="submit" value="Save Changes"> 
    </body>
</html>