    
<div class="container">
  <main>
  <form action="/registration-successful"  method="post">
    <div class="text-center">
      <h2>Sign up form</h2>
       <br>
    </div>

		<h4 class="mb-3">Please fill out your details below</h4>
          <div class="row g-3">
		  
		   
            <div class="col-12">
              <label for="FullName" class="form-label">Full Name</label>
              <input type="text" class="form-control" name="FullName" required>
            </div>
			<div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" required>
            </div>
			<div class="col-12">
              <label for="DOB" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" name="DOB" min="1921-07-02" max="2003-07-01" required>
            </div>
            <div class="col-sm-6">
              <label for="psw" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" name="psw" required pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="psw" required>
			  <small class="text-muted">Must contain at least one number, one uppercase letter, one lowercase letter, and at least 8 or more characters</small>
            </div>
            <div class="col-sm-6">
              <label for="year" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Re-enter Password" name="psw1" required pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="psw1" required>
            </div>
			<div class="col-12">
              <label for="CVV" class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="phonenumber" required>
            </div>
            </div>
        <br> 
        <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="return Validate()">Sign Up</button>
        </form>
       
  </main>
</div>